obj/ProductCatalog.csproj.nuget.g.targets
obj/ProductCatalog.csproj.nuget.g.props
obj/ProductCatalog.csproj.nuget.cache
obj/project.assets.json
obj/Debug/netcoreapp2.1/ProductCatalog.csproj.CoreCompileInputs.cache
.gitignore
obj/Debug/netcoreapp2.1/ProductCatalog.csprojResolveAssemblyReference.cache
obj/Debug/netcoreapp2.1/ProductCatalog.assets.cache
obj/Debug/netcoreapp2.1/ProductCatalog.csproj.CoreCompileInputs.cache
obj/*
obj/Debug/*
obj/Debug/netcoreapp2.1/*
obj/Debug/netcoreapp2.1/ProductCatalog.csproj.CoreCompileInputs.cache
bin/*
Migrations/*
obj/Debug/netcoreapp2.1/ProductCatalog.assets.cache
obj/Debug/netcoreapp2.1/ProductCatalog.csproj.CoreCompileInputs.cache
obj/ProductCatalog.csproj.nuget.cache
obj/project.assets.json
obj/Debug/netcoreapp2.1/ProductCatalog.csproj.CoreCompileInputs.cache
obj/project.assets.json
obj/ProductCatalog.csproj.nuget.cache
obj/project.assets.json
obj/